<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Cropwayy | Error 404</title>

  <!-- Favicons -->
<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">

  <!-- Bootstrap core CSS -->
    
<link rel="stylesheet" href= "{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">   

  <!--external css-->
    <link rel="stylesheet" href= "{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css') }}">  
  <!-- Custom styles for this template -->
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}">  
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style-responsive.css') }}"> 
  

</head>

<body>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 p404 centered">
        <img src="{{ url_for('static', filename='img/404.png') }}" alt="">
        <h1>DON'T PANIC!!</h1>
        <h3>The page you are looking for doesn't exist.</h3>
          
          <h3> Go To <a href ="{{url_for('home')}}">Home</a></h3>
        <br>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              
              
           
          </div>
        </div>
       
      </div>
    </div>
  </div>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
