<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>CROPWAYY | FLOWER PREDICTION</title>

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">


  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!--external css-->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style-responsive.css') }}" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/slick.min.css') }}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-fileupload/bootstrap-fileupload.css')}}">
 
      
      <!--animate css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/css/slick.min.css') }}">
      <!--main css-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/css/slick.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/css/bootstrap-select.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/css/slick.min.css') }}">
      <!--responsive css-->
    
      
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>CROP<span>WAYY</span></b></a>
      
     {% if current_user.is_authenticated %}
      
       <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{{url_for('logout')}}">Logout</a></li>
        </ul>
      </div>
        {% else %}
         <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{{url_for('login')}}">Login</a></li>
        </ul>
      </div>
        {% endif %}
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"> {% if current_user.is_authenticated %}
              {% if current_user.UType=='farmer' %}
             <img src="{{ url_for('static', filename='img/f_user.jpg') }}" class="img-circle" width="80">
              {% elif current_user.UType=='corporate' %}
              <img src="{{ url_for('static', filename='img/c_user.png') }}" class="img-circle" width="80">
             
              {% elif current_user.UType=='admin' %}
             
              <img src="{{ url_for('static', filename='img/a_user.jpg') }}" class="img-circle" width="80">
              {% endif %}
                {% else %}
           <img src="{{ url_for('static', filename='img/favicon.png') }}" class="img-circle" width="80">
            {% endif %}
            
            
            
            </p>
          <h5 class="centered">
              
              {% if current_user.is_authenticated %}
              {% if current_user.UType=='farmer' %}
              <a href ="{{url_for('fprofile')}}">  {{ current_user.FullName}} </a>
              {% elif current_user.UType=='corporate' %}
              <a href ="{{url_for('cprofile')}}">  {{ current_user.FullName}} </a>
              {% elif current_user.UType=='admin' %}
              <a href ="{{url_for('cprofile')}}">  {{ current_user.FullName}} </a>
              {% elif current_user.UType=='retailer' %}
              <a href ="{{url_for('rprofile')}}">  {{ current_user.FullName}} </a>
              {% elif current_user.UType=='wholesaler' %}
              <a href ="{{url_for('wprofile')}}">  {{ current_user.FullName}} </a>
              {% endif %}
                {% else %}
           Cropwian
            {% endif %}
            </h5>
              <li class="mt">
            <a  href="{{url_for('home')}}">
              <i class="fa fa-home"></i>
              <span>Home</span>
              </a>
          </li>
            <li class="sub-menu">
            <a href="{{url_for('aboutus')}}">
              <i class="fa fa-globe"></i>
              <span>About Us</span>
              </a>
             </li>
             <li class="sub-menu">
            <a href="{{url_for('gallery')}}">
              <i class="fa fa-camera"></i>
              <span>Gallery</span>
              </a>
             </li>
             <li class="sub-menu">
            <a  href="{{url_for('contactus')}}">
              <i class="fa fa-phone-square"></i>
              <span>Contact Us</span>
              </a>
             </li>
             <li class="sub-menu">
            <a href="{{url_for('farmstore')}}">
              <i class="fa fa-shopping-cart"></i>
              <span>Farm Store</span>
              </a>
             </li>
            {% if current_user.is_authenticated %}
           {% if current_user.UType=='farmer' %}
            <li class="sub-menu">
            <a href="{{url_for('fDash')}}">
              <i class="fa fa-dashboard"></i>
              <span>Farmer's Dashboard</span>
              </a>
             </li>
             <li class="sub-menu">
            <a class = 'active' href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>Smart Farming</span>
              </a>
            <ul class="sub">
              <li><a href="{{url_for('prediction')}}">Predict Disease</a></li>
              <li><a href="{{url_for('cropRec')}}">Crop Recommendation</a></li>
                <li><a href="{{url_for('fertilizer')}}">Fertilizers</a></li>
              <li class = 'active'><a href="{{url_for('flower')}}">Flower Species</a></li>
              <li><a href="{{url_for('tips')}}">Everyday Tips</a></li>
                <li><a href="{{url_for('govtScheme')}}">Govt. Schemes</a></li>
            </ul>
          </li>
             {% elif current_user.UType=='corporate' %}
            <li class="sub-menu">
            <a href="{{url_for('cDash')}}">
              <i class="fa fa-dashboard"></i>
              <span>Corporate's Dashboard</span>
              </a>
             </li>
              {% elif current_user.UType=='admin' %}
            <li class="sub-menu">
            <a href="{{url_for('cDash')}}">
              <i class="fa fa-dashboard"></i>
              <span>Admin's Dashboard</span>
              </a>
             </li>
            {% endif %}
            
            
              {% else %}
            
             <li class="sub-menu">
            <a href="{{url_for('login')}}">
              <i class="fa fa-sign-in"></i>
              <span>Login</span>
              </a>
             </li>
             <li class="sub-menu">
            <a href="{{url_for('signup')}}">
              <i class="fa fa-phone-square"></i>
              <span>Signup</span>
              </a>
             </li>
            
            {% endif %}
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <h3>Hi, Cropwian! Wanna know which about a flower unknown to you?</h3>
           <!--div class="col-md-4 col-sm-4 mb"-->
               <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
                  <div class="grey-panel">
                  <div class="grey-header" >
                      <h5><B>Flower Species</B></h5>
                  </div>
                       <div class="col-lg-12 mt">
            
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <div id="cassava" class="tab-pane active">
                   <form>
                      <div class="form-group last">
                  
                  <div class="col-md-12">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
                      </div>
                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                      <div>
                        <span class="btn btn-theme02 btn-file">
                          <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                        <input type="file" class="default" />
                        </span>
                        <a href="{{url_for('flower')}}" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                      </div>
                    </div>
                    <span class="label label-info">NOTE!</span>
                    <span>
                      Attached image thumbnail is
                      supported in Latest Firefox, Chrome, Opera,
                      Safari and Internet Explorer 10 only
                      
                      </span>
                  </div>
                </div><div class="form-group">
                <br>
                <br>   
            <input type="submit" value="Submit" class="btn btn-round btn-primary btn-lg btn-block">
            </div>
                      </form>
                    
                  </div>
                  
                  <!-- /tab-pane -->
                  
                         
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            
        </div>
                </div></div></div>
       
      </section>
      <!-- /wrapper -->
    </section>
      <!-- /wrapper -->
    </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>Cropwayy</strong>. All Rights Reserved
        </p>
        <div class="credits">
          
          Created by team Cropwayy
        </div>
        <a href="farmstore.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
   <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}" type="text/javascript"></script>
     <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
     <script src="{{ url_for('static', filename='lib/jquery-ui-1.9.2.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='lib/jquery.ui.touch-punch.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='lib/jquery.ui.touch-punch.min.js') }}" type="text/javascript"></script>
 <script src="{{ url_for('static', filename='lib/jquery.dcjqaccordion.2.7.js') }}" type="text/javascript"></script>
 <script src="{{ url_for('static', filename='lib/jquery.scrollTo.min.js') }}" type="text/javascript"></script>
 <script src="{{ url_for('static', filename='lib/jquery.nicescroll.js') }}" type="text/javascript"></script>
 <script src="{{ url_for('static', filename='lib/bootstrap-fileupload/bootstrap-fileupload.js') }}" type="text/javascript"></script>


    

  <!--common script for all pages-->
     <script src="{{ url_for('static', filename='lib/common-scripts.js') }}" type="text/javascript"></script>
 

</body>

</html>
